input[type='text'] {
   outline: none;
   border: none;
   padding-bottom: 8px;
   border-bottom: 4px solid gainsboro;
}

#profile a {
   background-color: blue;
   color: aliceblue;
   padding: 4px 40px;
   border-radius: 40px;   
}